:root{
    --primary-color:#2563EB;
    --dark-gray:#6B7280;
}
body{
    margin:0px;
    font-family:Lato ,sans-serif;
   
  }
  
  
  .nav-wrap{
 
    font-size: large;
    display:flex;
    border-bottom: solid 2px grey;
    justify-content: space-between;
    padding:32px 8px 32px 8px;
    border-bottom-left-radius: 24px;
   
  }
  
  .nav-left{
    display:flex;
  
  }
  
  .nav-right{
    display: flex;
  
  }
  
  .nav-wrap>.nav-left>div{
  }
  
  
  .nav-wrap>.nav-right>span{
    
    margin-right: 20px;
    font-size: 0.85em;
    
  }
  
  .link-wrap {  
    
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
    
  }
  
  .link-wrap a{
    color:var(--primary-color);
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .link-wrap:hover {
    border-bottom: 2px solid black;
  }
  
  .link-wrap a:hover {
    color:  black;
    cursor: pointer;
  }
  
  .link-wrap a:active{
    color:brown;
  }

.brand-wrap{
    color:var(--primary-color);
    font-weight: 700;
    margin-left: 16px;
}

.intro p{
    font-size: 18px;
}

  .intro>img{
      margin: 10px;
      display: inline;
      max-width: 450px;
      
  }

  .intro{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 40px;
      
  }

  #text{
      padding:40px;
  }
  @media(max-width:770px){
         .intro{
         flex-direction: column;
         margin: auto;
         }
        img{
            
             margin: auto;
         }
         #text{
           margin: auto;
         }
  }

  #name{
      color:var(--primary-color);
  }


  .footer-wrap{
      color:var(--primary-color);
        padding:16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-top: 2px solid grey;
      
  }
 li{
     list-style-type: none;
     display: inline;
     margin-right: 16px;
     align-self: center;
 }
 
  #tech{
      
     
      background-color: #E5E7EB;
  }

  #project-heading{
  text-align: center;
  font-size: 36px;
  font-weight: 500;

  }

  .project-name{
      font-size: 22px;
  }

  .project{
    
      display: flex;
      flex-direction: column;
      justify-content: center;
       
    margin: auto;
    width: 450px;
 
    background-color: #E5E7EB;
    padding:16px 24px;
    border-radius: 8px;
    margin-bottom: 16px;
    
  }
  .project-alt{
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
       
    margin: auto;
    width: 450px;
 
   
    padding:16px 24px;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .demo-btn{
    color: white;
    background-color:var(--primary-color); ;
    width: 100px;
    height:40px;
}
  .src-btn{
      color: var(--primary-color);
      height: 40px;
      width: 100px;
  }
button:hover{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: inherit;
}
 
  