:root{
    --primary-color:#2563EB;
    --dark-gray:#6B7280;
}
body{
    margin:0px;
    font-family:Lato ,sans-serif;
    padding-top: 84px;
   
  }
  
  
  .nav-wrap{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
   
    z-index:2;
    color:rgb(190, 157, 157);
    font-size: large;
    display:flex;
    border-bottom: solid 2px grey;
    justify-content: space-between;
    padding:32px 0 32px 0;
    border-bottom-left-radius: 16px;
    background-color:var(--primary-color);
   
    
  }
  
  .nav-left{
    display:flex;
  
  }
  
  .nav-right{
    display: flex;
  
  }
  
  .nav-wrap>.nav-left>div{
  }
  
  
  .nav-wrap>.nav-right>span{
    
    margin-right: 20px;
    font-size: 0.85em;
    
  }
  
  .link-wrap {  
    
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
    
  }
  
  .link-wrap a{
   /*color:var(--primary-color);*/
    color:white;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .link-wrap:hover {
    border-bottom: 2px solid black;
  }
  
  .link-wrap a:hover {
    color:  black;
    cursor: pointer;
  }
  
  .link-wrap a:active{
    color:brown;
  }

.brand-wrap{
    /*color:var(--primary-color);*/
    color:white;
    font-weight: 700;
    margin-left: 16px;
}

.intro {
    font-size: 18px;
   
}

  .intro>img{
      
     
      display: inline;
      max-width: 450px;
      
  }

  .intro{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 40px;
      
  }

  #text{
    margin-top: 32px;
  }
  @media(max-width:770px){
         .intro{
         flex-direction: column;
         margin: auto;
         }
        img{
            
             margin: auto;
         }
         #text{
           margin: auto;
          
         }
         .link-wrap{
          margin-top: 24px;
          margin-left: auto;
          
          
         }
         .nav-wrap{
           display: block;
           padding:16px 4px 16px 4px;
      
           margin-bottom: 40px;
         }

         .nav-right{
          align-self: center;
         }
  }

  #name{
      color:var(--primary-color);
  }


  .footer-wrap{
    font-weight: 600;
    font-size: 16px;
      background-color:var(--primary-color);
      color:white;
      padding:8px;
      display: flex;
      flex-direction: column;
      border-top: 2px solid grey;
     align-items: center;
  }

  .icon-wrap{
      display: inline;
      flex-direction: row;
      justify-content: space-evenly; 

  }
  .contacts{
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-evenly;
  }


  #tech{
      
     
      background-color: #E5E7EB;
  }

  #project-heading{
  text-align: center;
  font-size: 36px;
  font-weight: 500;

  }

  .project-name{
      font-size: 22px;
  }

  .project{
    
      display: flex;
      flex-direction: column;
      justify-content: center;
       
    margin: auto;
    width: 450px;
 
    background-color: #E5E7EB;
    padding:16px 24px;
    border-radius: 8px;
    margin-bottom: 16px;
    
  }
  .project-alt{
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
       
    margin: auto;
    width: 450px;
 
   
    padding:16px 24px;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .demo-btn{
    color: white;
    background-color:var(--primary-color); ;
    width: 100px;
    height:40px;
}
  .src-btn{
      color: var(--primary-color);
      height: 40px;
      width: 100px;
  }
button:hover{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: inherit;
}
 
  